{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 8000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {},
            "EngineSpec": {
                "Params": {
                "Entrypoint": null,
                "EnvironmentVariables": [
                    {{ if .Prompt }}"{{ subst "PROMPT=%s" .Prompt }}"{{ end }},
                    {{if .imgCid}}{{.imgCid}}{{else}}"CID=QmTNun11hdjvh15xd8dGR8GePuQM4FDdCBmbvbBG3RLHFT"{{end}},
                    "INPUT_DIR=/input/"
                ],
                "Image": "yfantisa/ollama:llava-7b-lilypad1@sha256:3e1060c56459da0e08d02b286f11523c0e6b7c0e24ab029b0c20f716bec6537e",
                "Parameters": [
                ],
                "WorkingDirectory": ""
                },
                "Type": "docker"
            },
            "Network": {
                "Type": "None"
            },
            "inputs": [
                {
                    "CID": {{.imgCid}},
                    "Name": "input_img",
                    "StorageSource": "IPFS",
                    "path": "/input"
                }
            ],
            "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
            "PublisherSpec": {
                "Type": "ipfs"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Wasm": {
                "EntryModule": {}
            }
        }
    }
}